* {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    color: white;
    background: linear-gradient(135deg, rgba(90,171,97,1) 0%, rgba(170,255,0,1) 60%, rgba(255,223,0,1) 100%);
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 32px;
}

#content {
    padding: 50px;
}
